<md-list>
  <md-list-item class="md-3-line" ng-repeat="comment in comments">
    <md-button class="md-fab primCol"><b>{{comment.userName[0]}}</b></md-button>
    <div class="md-list-item-text">
      <h3>{{comment.title}}</h3>
      <h4>{{comment.userName}} - {{comment.date | date: "dd-MM-yyyy"}}</h4>
      <p>{{comment.comment}}</p>
    </div>
    <div class="md-secondary">
      <i data-ng-repeat="star in [1, 2, 3, 4, 5]" class="fa fa-star" ng-class="{'textPrimColor': star <= comment.rate}"></i>
    </div>
    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>
<md-divider></md-divider>
<form name="commentsForm" ng-submit="controller.post()" class="md-whiteframe-z2 float-left column large-12 padding20">
  <md-subheader>Laissez un commentaire</md-subheader>
  <md-input-container>
    <label>Nom</label>
    <input type="text" ng-model="newComment.userName" required/>
    <div ng-messages="commentsForm.newComment.userName.$error" role="alert">
      <div ng-message="required" class="my-message">Veuillez entrer un nom</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Titre</label>
    <input type="text" ng-model="newComment.title" required/>
    <div ng-messages="commentsForm.newComment.title.$error" role="alert">
      <div ng-message="required" class="my-message">Veuillez entrer un titre</div>
    </div>
  </md-input-container>
  <div class="float-left width100p" ng-mouseleave="newRate = 0">
    <i data-ng-repeat="star in [1, 2, 3, 4, 5]"
       data-ng-click="$parent.newComment.rate = star"
       class="fa fa-star"
       data-ng-mouseover="$parent.newRate = star"
       ng-class="{'textPrimColor': star <= $parent.newComment.rate || star <= $parent.newRate}"></i>
    <div data-ng-show="(newComment.rate == 0 || !newComment.rate) && (newComment.userName.length || newComment.title.length || newComment.comment.length)"
      class="textPrimColor">
      veuillez choisir une note en cliquant sur les étoiles
    </div>
  </div>
  <md-input-container class="width100p float-left">
    <label>Commentaire</label>
    <textarea ng-model="newComment.comment"></textarea>
    <div ng-messages="commentsForm.newComment.comment.$error" role="alert">
      <div ng-message="required" class="my-message">Veuillez entrer un commentaire</div>
    </div>
  </md-input-container>
  <md-button type="submit" class="primCol float-left">Poster</md-button>
</form>
