<i class="fa fa-close pointer textPrimColor float-right" data-ng-click="controller.close()"></i>
<form name="contactForm" ng-submit="controller.post(email, message); controller.close()">
  <h1>Contact</h1>
  <md-divider></md-divider>
  <md-input-container class="width100p">
    <label>Email</label>
    <input ng-model="email" type="text" required>
  </md-input-container>
  <md-input-container class="width100p">
    <label>Message</label>
    <textarea ng-model="message" type="text" required></textarea>
  </md-input-container>
  <md-button type="submit" class="primCol">Envoyer</md-button>
</form>
<md-divider></md-divider>
<md-subheader>Ou contactez nous par email ou téléphone</md-subheader>
<md-button class="md-fab md-mini primCol"><i class="fa fa-phone"></i></md-button>
<b>04 72 65 00 67</b>
<md-button class="md-fab md-mini primCol"><i class="fa fa-envelope"></i></md-button>
<b>des.toits.en.ville@gmail.com</b>
