
  <div class="height100p parallax-background roomsImagesSlider animated parallax__layer parallax__layer--back"  style="background-image: url('{{activeRoom.imagePath}}');" ng-show="activeRoom.step == 0"></div>
  <div class="height100p parallax-background roomsImagesSlider animated parallax__layer parallax__layer--back"  style="background-image: url('{{activeRoom.imagePath1}}');" ng-show="activeRoom.step == 1"></div>
  <div class="absolute zIndex2 homeRoomTitle float-left">
    <b class="float-left marginTop0 column large-12">BIENVENUE</b>
    <p>Location de chambres d'hôtes de charme et de meublés de tourisme pour de courtes durées</p>
  </div>
  <div class="parallax-content column large-12 zIndex4 parallax__layer parallax__layer--base">
    <div class="white width100p float-left">
      <div class="column large-12 mainText">
        La maison d'hôtes <b class="textPrimColor">Des Toits en Ville</b> vous accueille dans la ville animée de <b class="textPrimColor">Villeurbanne</b>,
        à seulement 15 minutes du centre de <b class="textPrimColor">Lyon</b>. Agrémentée d'un <b class="textPrimColor">jardin</b>,
        elle sert chaque jour un <b class="textPrimColor">petit-déjeuner</b> continental.
        </div>
      <div class="column large-12 mainText">
        Les hébergements <b class="textPrimColor">Des Toits en Ville</b> sont décorés avec élégance. Chacun dispose d'une
        <b class="textPrimColor">salle de bains privative</b>,
        d'une connexion <b class="textPrimColor">Wi-Fi</b> gratuite et d'une <b class="textPrimColor">télévision</b>.
        Certains comportent également un <b class="textPrimColor">lave-linge</b> ou une <b class="textPrimColor">terrasse meublée</b>.
        La cuisine des appartements est équipée de plaques de cuisson, d'un réfrigérateur et d'un four micro-ondes.
        Certaines sont pourvues d'un coin repas.
        </div>
      <div class="column large-12 mainText">
        La maison d'hôtes <b class="textPrimColor">Des Toits en Ville</b> est située à 4,4 km de la gare de <b class="textPrimColor">Lyon Part Dieu</b>
        et à 280 mètres de la station de <b class="textPrimColor">métro Cusset</b>. Vous trouverez un parking privé à proximité,
        accessible moyennant des frais supplémentaires.
      </div>
    </div>
    <h1 class="column large-12 text-center margin0 textColorWhite mainTitles">NOS CHAMBRES</h1>
    <div class="width100p white float-left grid">
      <figure class="effect-layla column large-6 medium-6 roomMinHome roomImage padding0 margin0" data-ng-repeat="room in rooms">
        <img src="{{room.images[0]}}" alt="{{room.name}}"/>
        <figcaption>
          <h2><span class="textColorWhite">{{room.name}}</span></h2>
          <p>When Layla appears, she brings an eternal summer along.</p>
          <a href="#/rooms/{{room.id}}">View more</a>
        </figcaption>
      </figure>
    </div>

    <h1 class="column large-12 text-center margin0 textColorWhite mainTitles">NOS SERVICES</h1>
    <div class="width100p white float-left grid ">
      <figure class="effect-layla column large-3 medium-6 roomMinHome roomImage padding0 margin0 " data-ng-repeat="agreement in agreements">
        <img class="width100p" src="{{agreement.image}}" alt="{{agreement.name}}"/>
        <figcaption class="cursorAuto">
          <h2><span class="textColorWhite">{{agreement.title}}</span></h2>
          <p>When Layla appears, she brings an eternal summer along.</p>
        </figcaption>
      </figure>
    </div>

    <h1 class="column large-12 text-center margin0 textColorWhite mainTitles">A PROXIMITE</h1>
    <div class="width100p float-left" style="height: 800px">
      <ng-map
      class="width100p white float-left"
      center="45.7743869,4.8628751"
      zoom="14"
      max-zoom="14"
      min-zoom="14"
      disable-default-u-i="true"
      style="height: 100%"
      scrollwheel="false"
      styles="[
        {
          'featureType': 'water',
          'elementType': 'geometry',
          'stylers': [
            {
              'color': '#e9e9e9'
            },
            {
              'lightness': 17
            }
          ]
        },
        {
          'featureType': 'landscape',
          'elementType': 'geometry',
          'stylers': [
            {
            'color': '#f5f5f5'
            },
            {
            'lightness': 20
            }
          ]
        },
        {
          'featureType': 'road.highway',
          'elementType': 'geometry.fill',
          'stylers': [
            {
            'color': '#ffffff'
            },
            {
            'lightness': 17
            }
          ]
        },
        {
          'featureType': 'road.highway',
          'elementType': 'geometry.stroke',
          'stylers': [
            {
            'color': '#ffffff'
            },
            {
            'lightness': 29
            },
            {
            'weight': 0.2
            }
          ]
        },
        {
          'featureType': 'road.arterial',
          'elementType': 'geometry',
          'stylers': [
            {
            'color': '#ffffff'
            },
            {
            'lightness': 18
            }
          ]
        },
        {
          'featureType': 'road.local',
          'elementType': 'geometry',
          'stylers': [
            {
            'color': '#ffffff'
            },
            {
            'lightness': 16
            }
          ]
        },
        {
          'featureType': 'poi',
          'elementType': 'geometry',
          'stylers': [
            {
            'color': '#f5f5f5'
            },
            {
            'lightness': 21
            }
          ]
        },
        {
          'featureType': 'poi.park',
          'elementType': 'geometry',
          'stylers': [
            {
            'color': '#dedede'
            },
            {
            'lightness': 21
            }
          ]
        },
        {
          'elementType': 'labels.text.stroke',
          'stylers': [
            {
            'visibility': 'on'
            },
            {
            'color': '#ffffff'
            },
            {
            'lightness': 16
            }
          ]
        },
        {
          'elementType': 'labels.text.fill',
          'stylers': [
            {
            'saturation': 36
            },
            {
            'color': '#333333'
            },
            {
            'lightness': 40
            }
          ]
        },
        {
          'elementType': 'labels.icon',
          'stylers': [
            {
            'visibility': 'off'
            }
          ]
        },
        {
          'featureType': 'transit',
          'elementType': 'geometry',
          'stylers': [
            {
            'color': '#f2f2f2'
            },
            {
            'lightness': 19
            }
          ]
        },
        {
          'featureType': 'administrative',
          'elementType': 'geometry.fill',
          'stylers': [
            {
            'color': '#fefefe'
            },
            {
            'lightness': 20
            }
          ]
        },
        {
          'featureType': 'administrative',
          'elementType': 'geometry.stroke',
          'stylers': [
            {
            'color': '#fefefe'
            },
            {
            'lightness': 17
            },
            {
            'weight': 1.2
            }
          ]
        }
      ]">
        <marker position="45.7743869,4.8628751">

        </marker>
        <custom-marker position="45.779512, 4.851680">
          <div>
            <div class="margin0" style="font-size: 14px">
              <b class="padding20 pointer"><a href="http://www.loisirs-parcdelatetedor.com/" target="_blank">Parc de la tête d'or</a></b>
            </div>
          </div>
        </custom-marker>
        <custom-marker position="45.7655929,4.8796604">
          <div>
            <div class="margin0" style="font-size: 14px">
              <b class="padding20 pointer"><a href="http://www.tnp-villeurbanne.com" target="_blank">Théâtre national populaire</a></b>
            </div>
          </div>
        </custom-marker>
        <custom-marker position="45.7665442,4.9076622">
          <div>
            <div class="margin0" style="font-size: 14px">
              <b class="padding20 pointer"><a href="http://www.asvelbasket.com" target="_blank">Astroballe</a></b>
            </div>
          </div>
        </custom-marker>
        <custom-marker position="45.7864864,4.8941517">
          <div>
            <div class="margin0" style="font-size: 14px">
              <b class="padding20 pointer"><a href="http://www.pucesducanal.com" target="_blank">Puces du Canal</a></b>
            </div>
          </div>
        </custom-marker>
    </ng-map>
    </div>
    <h1 class="column large-12 text-center margin0 textColorWhite mainTitles">LES AVIS</h1>
    <comments class="column large-12 float-left white" ng-controller="commentsController"></comments>
    <div class="paddingSearchMin white"></div>
  </div>

