
<md-fab-speed-dial md-open="roomsNavIsOpen" md-direction="right"
class="md-fling float-left" hide-sm>
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab primCol left0" >
      <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions class="absolute">
    <a data-ng-repeat="room in rooms" ng-click="$parent.roomsNavIsOpen = false" href="#/rooms/{{room.id}}">
      <div class="svg-wrapper" ng-class="{'animated fadeOut': !roomsNavIsOpen, 'animated fadeIn': roomsNavIsOpen}">
        <svg height="40" width="280" xmlns="http://www.w3.org/2000/svg" class="shadow rounded BlackTrans">
          <rect class="shape" height="40" width="280" />
        </svg>
        <div
        class=" text height100p">{{room.name}}</div>
      </div>
    </a>
  </md-fab-actions>
</md-fab-speed-dial>

<md-button ng-click="directive.toggleLeft()"
           class="primCol md-fab" hide-gt-md>
  <md-icon md-svg-src="assets/images/menu.svg"></md-icon>
</md-button>

