<div class="column large-12 paddingLeft0">
  <div class = "column large-6 padding0">
    <md-datepicker
      ng-model="startDate"
      md-placeholder = "Date d'arrivée"
      class = "transparent textColorWhite margin0 column large-6 float-left padding0">
    </md-datepicker>
    <md-datepicker
      ng-model="endDate"
      md-placeholder = "Date de départ"
      md-min-date="startDate"
      class = "transparent textColorWhite margin0 column large-6 float-left padding0">
    </md-datepicker>
  </div>
  <md-button class = "column primCol large-2 float-left large-offset-1"
   ng-disabled="!startDate || !endDate"
   ng-href="#/search/{{startDate | date: 'yyyy-MM-dd'}}/{{endDate | date: 'yyyy-MM-dd'}}">
  Réserver maintenant !
  </md-button>
</div>

